.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  width: 25%;
  margin: auto;
  
}

.slick-next {
  font-size: 40px;
  width: 50px;
  height: 50px
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
}

.arrows {
  width: 100px;
  font-size: 150px;
}

:root {
	--main-color: #06d6a0;
	--dark-color: #222222;
	--medium-color: #e9e9e9;
	--light-color: #fcfcfc;
	--blue: #26547c;
	--red: #ef476f;
	--yellow: #ffd166;
	--green: #06d6a0;
}

* {
	font-family: 'Chelt Text', serif;
	color: var(--dark-color);
}

body {
  background-color: var(--medium-color);
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMHEhUTERIVFRMXGB8ZFxgWGB8ZHhggIBodHh4gHiAhHSgiHh8nHxoaIzEjJikvLi4uICEzOjMtOygvLisBCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAMsA+AMBIgACEQEDEQH/xAAcAAEAAwEBAQEBAAAAAAAAAAAABAUGBwMCAQj/xABDEAACAQMCBAQDBQUHAwMFAQABAgMABBEFIQYSMUETIlFhB3GBFCMyQlIzYnKRoRUWJEOCorE0Y8FEU3OSstHh8DX/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A7jSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlUvFHE9vwzGHnYl22jiTzSSt0CovUnJAz0GRQXVK5hw890NVt7q/5Vku4p4ooVORbCMxuEz0LkLIWOOo7dB0+gUpSgUpSgUpSgUpSgUpSgUpSgUpSggX+swadLDDLKqSTsViU/nIGTj07de5A6kVPrk3EkC67rVxFLkxxWaRLy/iRpJFk8RPR1AyD6hfSr/QeMG0t1s9VZUlO0F10hu17EN0STGMqe/TqBQbqlKUClKUClKUClKh3+qwaaMzzxRD1kdU/5IoJlKyFx8StORikUzXMn6LaN5ifqq8v9ajtxPqWp/8AR6WYlI2kvpBHj5xJzP8A1FBt6z2u8a2OhNyS3CmXoIo8ySE9hyLkj64qkfhW81n/AP0dSkZP/YtB9nj6dC27uPmRV1o3D9nw2h+zQRQgDzMBvgfqc+Yj5mgpn1nVeIhi0thYQn/OuwGmxj8sIOAw2/GcV76ZwhFpDGcyNNdN+0u7huZ1XfPJnyxjfAAxgeuMVUap8WbK2cx26vct0ypWNCfZpGHN81BHvVdxHrDca6YHihYtb3CG8tlPMSq5JAx+Nd1cevKfSg0nFelOkCz2nnltphdRIPzqBiWMHfPOhc+pJFazR9Ti1mCO4gbmikUMp/8AB9CDkEdiCK5d8P8AW0e7hgsZ5ZrZoXaaN8FbYjHIYyACqliV5D0z7VeLL/ca+HbTr2THtbXB9PRJP5Bgeg6h0GlKUClKUClKUClKUClKUClKUClKUHL7wiy4ilB28W3glz/DKIv/AD/StXqOkLMjRtEk9u5y0MgHlPXKE7dd8HGD0IrOfE2D7De6fdg8quz2kh9PEGYifZXBb6Vt7Of7Uiv05hnHoe4+hyKDF2+gtouBYajNaIOlvdL4sQ/dXnIZR/C5qxh1XVoPxRadcDsY53hJ+YZHAP1r7suP9NvTyi8jRs45ZuaE7HH+YFzuCPmCKt4vs19+HwJPlyN/xmgpm4o1CP8AFpsP0v48f1QV4txffNsLOzU/vX4b+iQmvrWuKNL0J+SQxGTJDJDGJWTGM84QEp1H4sZ7dDV7ompW+rRLLaujxN0KbY9QRgFSO4IBFBSx3Os3u6nToUPtPK39RGP+a/Doep3J+91cqP029tGn+5i7VAseP2ur1bZreONGlki53uMMDG3KfKYgCxOMIGJIOe1eHGXHs+i3JtordQeXmSWbxMSYGW5FCgNy98PQWX9wknz9ovtQuM9Q9yyr9FQKBUiw+H+mWH4LGEnrmQGU/wA3LVjNM1PXuIwskMgjibBDi3RFIPQjxixYe6g5qDxXrWp6DJ9muLyRvFUBSsSqXBK5aB4lRi6E4KHBI6YyGoOxQxpbeRAqbZ5VAXb1wO1fUkqxY5mAycDJAyfQeprjNkj/AA91OCS8VfDmV4muVLEOG5SGYuS4ZSq8wYnykkHatr8WdJGraczhQ5t2W4A7Mq55x9Y2Y/QUHl8TOKrjhz7PHB4aGfnBmkHNycvLgKuQCx5tsnsdvTEvreo6zp92bl1ltop445H5QkhAdDICqDl8PDLk9cZ6jOKC24pYRy2c3NLauCqxufEkhyPLJA53OAQfDPboeuL74TcSpHcyW05Ux3g6H8PjBeUjBG6yrvv3wKCw+GeoaVZ2bC9a2W6Z38cXAXJGfKF5hunJjZds5qy03ivReHpJX0+GaR5MBxaxOVPLnGA5VFA5j+HFR+KOALbR/vI9RSziY4WO5VZUB9IyzBlHfGTXsvwxu5Pxamqj9y3z/wAy0Fxa8UWvEbxxJNcWMhkDlGjETT46Jz+ZTk9QrcxG3rWn4h0ePiC2ltph5JFxnup6qw91OCPlXHuNOFJuGFi8W7FzFNJ4fK0fhsh5SwYYY5xy9diNq33DvE/LYWNzd3MUavGVk8QHnmcEKpjwcknBJAU5yOlBYfDjW5L6F7W6P+Ms28Gb98f5cg9Q69+5BPcVr65zxzG/DdxFq8ClhGPCvEXrJCTs3zQ7/wAsnANdAs7pL6NJYmDxuoZWHQgjIIoPalKUClKUClKUClKUClKUClKz/Hk7W9hO0dytrLy/dyuyoOYHIXLbDmxy/Wg/OP8AQf7yWE9uP2hXmj7YdfMm/bJGPkTVL8OeIP7ato2bZ3BLDpiRdplx2ycSAej+1ZOzM2pRQzx6nqDLImQBKq+c7cnlTqCG5vQD3qNw050DUDb+ITHdnxIJHPW4TZifaQllPrzJ6UG/4i1PT9H5ILqIFZvEcILczKd+aRiqo3UtknHcmqnStW4fs5Fkt2so5s4UogVwTtgeXIJBI+uK0lxpsHEQglkVhJDJzxkMVeNxsykjscYZehH0qOOKLaTEkSPMGDFZIo+YEKcMQ22wOx96DNfFrREiiS9jiUPC+Jiq4LRucEtj8XK/K2/Qc3vWH0jiscO3ZkgVt8CeDYCdMZDx748RQduhIyK6tZ8T22vSyWMsMsbPGcJOqgTIRhuUq7AkA5KnBwc4644trGkf3eumguI/GEHQHYz27HYqdiJFHQjowI36UGt40tIL8HUrblnsLgAXSjcxOAAJCvVdsBhsQQG71IsXk4rs5LB35722Cz2krHJmUHyknuesbHvzKd6z11oVzwyov9OneWzlQMZlUMeT9NzFjDqNwWxkebIFUdnr8mkyxXEcaII25ouRiYjkfeRAnJVHHRTkocdugbXgnjWTQoBEbd54ASYwrBZINzzRMr4yFbmAOcgbelWMnxTklmjRbaOMFwCrP48zKT5hHFENmIzjLVUcY6fHfR/2tYjxLScf4uMdY2xhnKjp6OB0OG7kiT8POL7bh1BBcpHHH/lXSRgcwJ2WbkXPMP8A3OjDc4OSQ6PxXoEfE9q9vJtzDKNjeNx+Fh8uhHcEjvXJ9A4qu+CHNhexNNEoI8LPnCnbmgY4EsRGcIdx02wa6TffEDTbVC326Fj2EZ8Vs9vKmTWO4Z4lj46KWGr20TTOheJ02OVBLZGeeJ8DIIOGHp0IYzgS1gu7qGC4Tnt7lXg82xBQlonB6q45eXI9SKncccCXOh4fLTQJ+C5jH3kQByBKo3OOokXpjO2cVsZ/hZJb3EEttesUimSQJOOZgFfJAkXc7ZGCPrXQ21GNZTDzjxgnieH+YrnGVBxncY26EjOMig4hr+vtxlpsdwAr3liSJ15Q3PFIvKZVXG65CltvL5jsMZuNF0LWrOCI2lzzW7xq8YjlUgKygqAs8Z5Rg9A5AqyfivSLOVrm1ihS9wyOs3Na8ucFvEBUgnIH4VY+4qOuvT6/t9snkTp4Ok2zgfW5lAA22yCB8qCs1bhy4ZhJqt5HACOXxJ5hLKAfxLBEihFJx1GT7GtvY6qYIo0sNOk8KFAiTXRFsiqABnLgykHAyeQZqBo+g3cR5rWztrEn8U9y5vLlvfY4B9i5Ht6NUTTdEYNqt815OCCI5m58HoOS2jHKN+5U/OgvtAvZdb5/FkglgKlSIYnMTZGCBM74mG53RAOoJztWa0q9b4Y3QtZ2J0qdybeVt/szncxuey5ycn+L9eLJeNp7w4ttPZV/K15KtsDjpyphnOdsbAfKvDSddXiky6Zq1ukc7AlVXPJKoOcoT5lkT+e3MMbgB0gHNftcw0TV5vh1IllfuXsGPLa3Z/yvSKX9IHY9AOnlyE6crBhkbg0H7SlKBSlKBSlKBSlKBWZ+IcVvdWTxXE0cJfHgs538VSGTlHVjzAeVQSRmtNWO+I+nHVIVEaH7RCfGhlOAikZBRmJGzrlSPdT2oOdfD/VBFI9q2US45njGf2coyssYPyHMPcN61Yca6MbqDljGLhG8WIr1jCbRqD6t0/iOe1Y3VVyqXMBKByDkjeGZCAGb0PN5G+hrp+h6oOJLUSqAJRs6E/glXsfYHBHsQaCXwhxKNWt0vOnMfDu06eHKuBz47A7H5FfQ1A1zQrjQZ5J7OJp7Sduee3j5fEjfvJFnZs7nlOcMcj2zsF4vA2olz/0F1iK4B6LIAMyY9PMc/N/QCuuWtt9nj5Fc4AIU7EgdvY47Z9BQcd128bWERbfTtSS5Rg8UgtyhicfvFvw9Ac/iySTsBWr4k4YuOL7CCWWMQanEvMBkYJ6MhIJAV8BgM+UkD1z7x6Nd28PPf6zNFhmDMvgRLgOwQ8xj2JQK2M7Ekdqj6VxLpvD3OsV7dX0j4LHmkuicZxggeGnXtjt6Cgxfw/4zPC7vFOji2LHxY8EvaydGPL1KHG4HQjI7g63VeBbXiRPtmlzJC0mTlRzQTYJB5kxscgjIGxzkE1TSaBDrlzJdyWszGV+blv7kQRgdgBDG5KjAAVm6Df31GrcRzcPiOIrYhWKxJHBN97HzEIpSJlAkCkjygjagxOlaFrmgXJNtbKpkOJRzq9tL2LMpYMvvjzf8GVLwFPczzS26JYWnNyhbhs7788iKNkTOyoW75yBgVbzafrDOwuvtUwzsbG5gt0YdNw6rIpPU4bqTjFfkHBM94UZrS2R1bJlvZ5L5z128M+QdR0fqBQRdP0HRrQ+aSTU5x1WBWkUH05IR4aj/AOQn519PxhLA32XSrCCF/wBChZZB6kxwHw49z1kkHepl3pmn2IKalq3iLkk26yrBFucn7mI8xHoCTXvZ8a2tnH4ekafNOuMgxReBD/qkcDf3waC10jhWa5VZNTupp5TuYhJyQLvsOSMKH2xnmyOvXqdHc6bFcyRSugMkBYxNuCnMpRsY7FTjB26egrny6pqWstiWdLdM7w2YEkmPR5nyqH3Wrfg3XntZjp14xMyjmt5XOftEXue8idG7kDPqaC41ziPT9IJN1cW6MOzEM/0UZb+lUE/xDe/yunWFxcYGRJKPAjwOpXm8z47gAGqnXrCThW+le3snuYr0GRPBjBeC4UjJ58eVG/Ecn1x0OZB0bV9XYzTzwaZEW5yIvvZFJXlbLkhVyOpB69tqDw1WK9u159T1NLeEqHWK0YQpIuRzATOeYtg45Tsdqo9M1zTdEkaLT7aS7c+U/Z4maRh+IN4hHOrA4BxlT9Klpp+hafJgtPq13+lS1yx378uI8ZP5icVPXjKaMi3tIbW064hiU3c2B/2oMRx/J32oP0WWt8R4JigsVIKtJLiSZ1P6lA5SQMfiVTkZzVvpnCtpwxKtzfXj3N2dkedsnOOkMQJYnGQAOY46Vmo9Yn1OdbeS6nklY4MfjCHl3G7R2UcjKBnfnmXHf1raaXws2lBmE8NuSPNJbwAPgfrlnaUv82FBfywx6zCUmhJjkBDRyr1GdsjO2diM4I26HYY5I7z4dfsVkvdLG/hDzT2o/cz+0jHp1Htgk2FpxXAWMNiZ9QmyOZo25o192lOIkHsn8jU7UOKINDVPt08Ucx/yYiZGJOwVV5eduo35VyfSgt+H+IbbiOPxbWZZF74O6n0ZTup9iKtK5TxDounyINRMkuj3DZIkyInfc/iiBPNzdSowx71Y2z6/pYGHs9QixkM2YJGB6dMINvnQdFpXPhxpqsP7XQZMdzHco/8AIBf/ADXyfiqll/1mnX9svd3hyg+ZyNvkDQdDpVTw/wASWvEac9pOkoHUDZl/iU4ZfqKtqBSlKBXxLGJRg/Q+h9RnvX3Sg4rxrop0C5aWRM2ly2JifNyuWAEjEKFUSYCsOxANZ/h3V24Uu+WZj4MgVZCfTpHIf3lyEf2KtXetd0iPXIXgmUFHBG4BxkEZGehwTv2rhGs6BLbM9hP+3iBktnY58ePHKFJ9QByN9D2zQb3ifR01KF1YeRlw+AMgA8+V2/GWC7mvH4Ya/JbltKvTi5gH3LH/ADYsAgA9yo/2+6tVR8M+Ivtcf2SUnxI1zEW6vHnGD+/GRyH5D3r7424dknZLi1YrdxvzwsPxM27FTtjlCqOUH3B2JyG94o0N9ZVDDN4FxE3NHJyCQYIw6sh2ZWHb1CntVGOAJbj9tqdxnOT9mjitt99xyoSOp71a8C8VJxZbCQDlmQ8k8fdH+u/Keo+o6g1leJtIL3DpKdavAfNyQlY7cBtwvN5QcDbb60H3rWh6PpQI1C/nlON0nvJHY/6EIY/QV48O69pkLgaRpM07DYSxW4AHsZZGDD61WR6SdEUvFoVlaKN1n1G6WTf1wSSD7A1Fm1W64g+7e+uJ0/CYNHtmCfLx3CjHr+IUHTeD+K4uKY2KqY5o25JoX/FG2SN9hkHB3x2I2IIrL8fWv2y7EF00rQTRg26LI0aM6/tI2C/icjDrnr5gKncF6bLoa4i02GygJHiPNc+JM4HduVCM7nAL4GenarbVBY8aRyWnjLKQA/NC3MYmBwrK4yodT2znHUYNBl9H4PtbIK0EVuvdX8MyN9GkY4P0qwv7QEojSO7M2DzHPKMHcIBy4zgZIwKzkOr3PCFwLbURzBz93OBhJ/f0WT1Hc9ezNrBYQ3mZFyS2/OGIIP8APbHpQfX2OS3X7qQ7dFcLy/7VBH0ql1XS34mUZPhNGS8EyDDRyKRgjfJXYgggdu4FWqXclufCK88mMo2wDD1bfqO4FesdvLbbqUbm3dTlRzdypAOM+mKD24M4qOqlrW7URX8Q+8TtIO0sfqp9O1UfFPBr3k3ktUuFA5/HvryZ0U75AhU9hv2G/tUXijTX1NlYuIZoF8SOWLJeMnZRzHHNzHYrsMVZ8L8f4cWmqcsNz0SUbQ3GDjKt0Vs7Y6Z6Yzy0Gbs9MXUI+SMXN9Gc/dWsX9n2O/63wpkHfmBYnevSU2doPAu72JEJx/Z+lKcMcHaV0BkkOOuSoyK2vE/CMeqc8vhfaZiRyR3NxKsCnYZ5FyMDrjl3Pp1rAtocMjvBLdTzFCVez0m1MUSnujuByn352BHrQfUvH6aKng6faW1hHt5rk/eHO28EXNJze7Z968odLvOJ2DzQXl9vsbthZWq9wwhUl3HvtnuKlWWoQ6CeSwsra3lG3e/uvqsRKofZ5gPavO/t73Wji6kYKei3Dc5P8NrAVTr2kd6D2nmMY8CbUThRvZaJFyhN9+aX8o7HnK9/evDSD4QP2CKK0U55pIQLy5ffcG4ci3jJ9PEJH0q00/hJSFDgso6eMFIHukCAQp8ypNaSHTo4sEjnI6F/Nj5DoPoBQUmk6OsDGaKKJ7jtc3cjXcufkORU7/gerS5k1CX/ANVy/wDxpGv9Hik/5qbPcLbjLsFHbJ6/L1r4+2x8vP4i8vrn+nz9qCHbyX6g4uzzDtcQRuD8jEY//wA+1S14tbTSBqESxox5RPExeL/WCA8fzPMo7sK+p7tIF5mYYPTG+fl6/So1rA1yxllXGQVRDvyqeuf3j39tqD84j4FjvG+1aews75fMksXlWTviRR5WDdzj58w2NvwDxQeJYG8ZPCuoHMVzF+lx3G/4Wxkde4ycZNbwVP8AYZZ7Ak8kQWWDJziKQsOT5I6sB6KVHaq3QpRb8S3SRkFJrRZJMHI50ZEB+YGfqTQdLpSlApSlArLfEHhb+8luDEQt3AfEt39G7qT+lwMHt0O+MVqaUH8xvI5lS4gHhzGQlVI/Z3KjEsLDbaVQdjjJHbJrrfD+sR8Q26TJsGGGU9UYbMp9x/xg96zvxc4cGmTfbFytvclUuSP8qUfspx6bjB6fUtWd4c1k6BP40mFhmfwrtR0hmHSUeiP1z6HOdgKC311JeDLsajbL92x5biBejxhVy/sQe/Y4PQtnrGlajHq8KTwNzxyLzKf/AAfQg5BHYgis3qtus8bcw2x5sDJZerKP4sYrF8Oao3w7vBbztiwufOpOcWzt2JPbbB9gG7NkNdqmhxaS4kitLJsDJub+4ZmB3zgujscfxiqyXX3u/L/ahk/7Wk2niH5eI3igf7a6FPbR3OOdEfG45lDY9xkbVlOJ7e6iCjmu5kZmAisFjtwo7c7sxcbHGVYZIOw6UGS1YCzw81vBB3E2s3JuZT7pbqzAH5Y+VWPD+sSzMrx/2nqBG6lIlsrUdcYBKcwwfzcw6HGahrYXGjjxY7DTtN33uL+4+0SnJ6ht/MfQk+lRzp8nEe8txqOq5/LEv2K0PzZsBh7oDQbXUL6y4gh+y6j9nSSQ4EHjpJID+Vl5dw/Xp09TWOtTccF3SWU7Bo5Di2uHOFkHZJNjiUbAHvsN8ipUMcPC3lubuy01O8FkOedh6STMDIe/4UB9DWwvobPjOxPiZNsw2eRWjK42DgyAEezHY79QTQRPsryEM7AuueQAYVSRjPXLfzHyqNGkiEKSDKCX5mY4cHZgNvKB5dsenWs/p+uycLMlvqMgkgcA2t8vmSZMZAcjOGxjzZ6bkn8R1lzGt0gYPjHmWRSNvcHoRj6EUHm94Yf20fKv6lPOo+ewI+eMVC1Ph6HUYyjorxn8h9AhChT1Xc82Qc+9RLfib7QzRQxm9kG3+FGVH8btiNP/AKj8qk2XDWo3gxLcR2UJORHB99KAfy+KwCrv+lT86DKy3V7wCuIL6N4VC5t7w9M/libIJAx0BAA9a2/D+pPxxbFLyxkgjYBgxYMkm+3LkZ7Zwy4x3NSdI4GsNFbxvD8WYbme5bxX275bZT7gCq3WviNF5008LcMg+8nZuW2g93k/N7KmS3QHO1B8atZT8Mpne5sh+PkURzwj9WIwqyoO/KFYD9W9WGmNDLGslvyGNxkMn5h8+p+tWPB2py6tbLJMjKc4V2Xk8ZcD7wJ1jViThTvgA96xmuWb8F3a+AQljeycuD0tpz+kdlcZ26AjsBQaK4veRuRFMkncA4C/xHt/zXhLqElrtJFudk8M8wJ/ScgY+dS7S1W0XlX5knqx7knua+5Z1hBLMABn+gJP9AaCPZ2hU+JJhpT37IP0r6D3719vaR8xkZV5sbsf/wCx9ajT6usRG3ly+T/CO3zYgVValqLDKscthQyjpktzkf6QAufc0Fnz29kzlUXnUEnlG+2AQPQ5IGPeol5qbpzjmxjxRtjsVCfyJIqjlveQ82RtuSehPNzEn25sfQCs1r/E62gCxMssrZAAbPKc5ycfiJJOFznPXsCF1o2stBqFxMHAEVlySMdwpMxkGc/QfU1ovhLZnVrq+1YqVSdzHAD15A3mP+1B81asnwP8Ob3XgTec9vaO3PID5Zbgg5AI6qoO++N9wDsR3eytEsY1iiUJGihVVdgANgBQe1KUoFKUoFKUoIer6bHrEMkEy80cilWHse49COoPYgV/PElm2kyTW13v4WILk9OeI/sJx6cuQD6AjPSv6Trmfxh0YQ+HqKpzeEPCulxnngc4OR35Sc/U+lBXcAaq+Hsbhsz248rH/Ni/Kw9cbKfp3zVjxVpEd/BKsg8j4Z22yvKPJyeh5sfzb1rAMJbNlaE81zaDnhOf+otz+U+pAyp99/zV07SdQi1+COaPzRuA2D2IPQ+4Ix9KDP8Aw74rfR5RpWotiRcLbyk7OMeWMn17Ln+E7gZ6Zdwm4RkDtGSMc6Y5l9xzKRn5g1y/ibh1NTjZJ+bEYPI4GGeVznI9V6Aj29tvrh7jibhZxZ6xkqMLHdrlhjGQJD1zjv8Ai9QR5qCy4l0b+wT48K2KYxz3moySTyAnOyBgcH0wwG52FZ9dW/tf8V5qmpkkjksYTbQ/JmAUlR0zmuto0d+isOSWNsMpGHVu4IO4PzrA8RWWoPKyM19cx9VS0aGzix2QuXMpx3O1BnDavomGW00zSF3xJdSC5uPmg3OfYj/9yY9Mm1U+L4U9+6+YXOpk29pGcfiS3/Ew37jFSrLRr3SlMsNjpumgZLz3MpuJVzuT4nTOfU4qq/w+uSYmnv8AXJQcFIE8G1U9RzbhR/EDg0FkdVGqiS2QtrVy45XCjwrK3GQRuPLkbYcEtsQGXJBvNA+GNtZRKtx4koPK7wGVjAkgHm5F2JXJP485wM1Fur680aAeI+n6Nb48qAePKD35VHKjH5Biao30254oz4UV5eIf87UZmtrc+hSCLlZ1Pr7UG9vuLNN4cURGeFOXCrDCOdh6ARxgkfyFZ/WfiHOi5gtFt0OcTajIIB7FYgTI4PXb+VVEvDUfDwxfatHahsfcafGsDt7AqDNIDsNxVONa0/TJOXT9OV5yc+Lec08pPqsI5nzjfzGPt60HusVzxmcsbnUV6jINlYr884klxjsAatbCCztHRZn/ALRuIjmOzsIs29u3TPKPJzZzl5Wz7ZFZvX9cu5/+uYLkDEd5IY13O2LO3zJ7felh/WpNnDqNxHn76O2XPmmddLtlHb7uPEjr78woOtaPc3t43NcQRW8WDiPnMspPYswwi7dQObr1GN6n4srG2lXXiHlwqlDnB5w6lMe5O386ymj6uLUxtLqv3EbDy2kASAeYFgbmbeQE9QGLHBwCaqOL7v8AvtdIbQ3N3FzDwkdVt7ZdsHDvgyEnPUA74GRtQafTtTNwoZiQGwW9gHaRv6FV/wBWKqdZ4gjtgBJIseSzEMd/MfTqQF26dzUiy4Cv9a5luro2xA2hgjIXAP8A7xz69N9zmtfw38O7PSWWX7OvijPMZCJ+Y7+YM4ypOx8uPlQc4j1ybUFD2lncTgdJGTw4eucl22yWOTnA6Vb2vA+q6mR4ssFvG/m5ofvn6E4YswG/queo611u1sY7QsY15ebdgCcd+3Qde1SaDnmlfCWyUBrvx7mTqRNMSoPsECjHsc1sNL4etNIObe1giPTMcaqT8yBk1Z0oFKUoFKUoFKUoFKUoFeN5bJexvHIoZHUqynoQRgg/MGvalB/PtxpkujSPabtc2Tc9uTt48DdFzjuvlONgwX0qRoGrLoE6yqf8BeHJ9IJTtk+gOMH0I7Y36F8UOHXvo0vLVc3Vrlgo/wA2M/jj26nG69dxt1rmHPDMufxWN51/7Up/+3mI+jj3oOpXVsJirHcoeYDsTjbPyqh+xrch1uFDxJl5gRkO5HT3CjYe/wA6j8C6u55rG5bNxAPKx/zouiuPUjofp71oL6wFwvIuFVnDP7jqfqTigw8Gk3nCaLPptxyq5LNaS+aMjBbYk/pHXIb96trwfx/Hrj/ZriNrW9x+yfOH942IGdt8HfGccwGarb0/b5wvSMEr9FwZD/wtU+v6SOJwOXy3DMXhk3BiVM8u43AZh/MA9cGgueMOBrvVrnx4biGZB+G3vVZ44yTk8oXKnr3XIG2SAK8r2zvtORRf6zbWUPQR2sSoW9kLANn+EH5Vf/DriRuI7XMwxcwsYrhennX82P3v5ZDDtVnrxmhAa1ghaYjlM0xCpCo3y5HnYbnCr75IoOdxTWuiZuLbT5rhxjN9qb+EuexDTeYn2RAT0qIuo6xxr+wkbwT1eEG1gHU/tXBnkHQEKoqUXtrqYyASa5ep1kbCWlv0OxP3SDofzE46g1E1C9fiAMbq4N3Gv4obR/s1jF7TXTY59iDhcnbagg2ujWNhIYlabVLs/ihsspED/wB2bJcjOckueu61Y4kUm3eZbTP/AKDRow856bSzLsh9cnBFLCf7evg26tNF08Cw/wAFaDfB8S5fEsx9eXrjpV9b8KX7J4TstnBnaHTkVVIz+eQsJWJHXAHegpFSPhkgKltp0jdFUfb9Qkyc+6x5x7jPyrzt9FueJGEkcIH/AHr2RLu6xseZIGYRRb7YxkYFdD0HgiHSclI44mxgSQM4kO+TzMzEt9c1qUiC4J3YDHMQMn+lBg+H/hxBE4mugbxyD5rsEunoFXmKAZ9tuxrZ2mlRWgKqp5NvKxLKMegJIH0qbSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgVx34g8M/3bkluEj59OuD/AImIDPgO23iKB+Qnr6Hp2A7FXzLGJQVYBlIwQRkEHqCO4oP5zBeUxKkw+0x+eyuD0mUdUf8AexsR369znoHCnFMevgow8K6TaWFuoI6lf1L79sjPYmn40+Gkulh3sEM1qx5mtgT4kTdeaA9Tj9PXsObOBg/7US8Ki4ZkmjOFuY/JKhB6Sr1BG4PbruN6Dtt1ai4DdmZCnN3ANVohOnCaTG+FjiHXbAA/mxH8qxun8dXGkgC7C3EX5biLYkfvgdD74/n1rRQca219gLhznIUOucjcbdffpQVvD9x/dzW5Y1OUuLckj9UkS8xPzwsn1Y1p+PFi1JUzEJlj5i3j3HgWyYCNzTKDzSY5lwAp6npXOYtaW91A3ahjDbRuiBBztLNMJFWNMDzsxkJAA/DGT03rb6VwBca4yz6mQMHmjtcB4o9gPvMMDI+AM/l275wAzEEc/FAC20ZuoEbAdozBZRYI/ZWyHnmI9ZDjI3G9abSOBjcFWuea6ePp4i+HHH7RwNF4KgY6AGugW+kRgDxI4WYdGSPkwO3c/wDNWVBVW2iiNiXKSKRjDRIPYbgDoKsbeBbZQqAKo6Adu9elKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBVHxBwjZcR73Vsjt0591cf61IbHtnFXlKDnR+DlihJimu4gfypKpH+5CT9TX7pvwesbWUSSvLOAGHhyCMI3MpXLBYwSRnIOQQQD2rolKCDpmkQaVGsUEKRohyqqoGCRgn+IgnJ6mp1KUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUH//2Q==");
  background-repeat: repeat, repeat;
}

.card {
  width: 700px;
  height: 500px;
	margin: 1rem;
  text-align: center;
  /* display: flex; */
	/* flex-direction: row; */
	/* flex-wrap: wrap; */
	justify-content: center;
	align-items: flex-start;
  align-content: flex-start;
  /* display: inline-block */
  margin: 0 auto;
}

.cardContainer {
  /* display: flex; */
	/* flex-direction: row;
	flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: rgba(red, green, blue, .9);
  margin: 0 auto;
}

.headerContainer {
	background-color: var(--blue);
	color: var(--light-color);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  font-style: cursive;
  margin: 0 auto;
  text-align: center;
}

.headerContainer > h1 {
  text-align:center;
}

.headerContainer > h2 {
  text-align: center;
  margin-left: 100px;
}
.row {
  text-align: center;
  margin-left: 30px;
}

.falseButton {
  background-color: var(--red);
  margin-left: 70px;
  
}

.falseButton:hover {
  background-color:  #f52a5a;
}

.container {
  text-align: center;
  flex: row;
}

.fakeNews {
  align-content: center;
  margin: 0 auto;
  margin-left: 25%;
}
/* .trueButton {
  
} */

/* .col.s12 > .falseButton {
  width: 50%;
}

.col.s12 > .falseButton {
  width: 50%;
} */

.actualImages > img {
  width: 425px;
  margin: 0 auto;
  height: 375px;
  background-Size: 'cover';
  background-Repeat: 'no-repeat';
  background-Position: '50% 50%';
  border-style: solid;
  border-width: 5px;
}

#incorrect > p{
  font-size: 40px;
}

#correct > p {
  font-size: 40px;
}

.modal {
  background-color: var(--blue);
  border-style: solid;
  border-width: 5px;
}